@(forgetForm : Form[ForgetPassword])(implicit messages:Messages, flash:Flash)

@import helper._

@main("Forget Password Form"){

<div>@flash.get("emailnotexists").fold("")(x=>x)
   </div>
<div>
    @if(forgetForm.hasGlobalErrors){
   <ul>@for(errors <- forgetForm.globalErrors){
       <li>@errors.message </li>
       }
   </ul>}
</div>

@helper.form(action = routes.LoginController.forgetPassword){
@helper.inputText(forgetForm("email"), '_showConstraints ->false, '_label->"Email")
@helper.inputPassword(forgetForm("newPassword"), '_showConstraints ->false, '_label->"New password")
@helper.inputPassword(forgetForm("confirmPassword"), '_showConstraints ->false, '_label->"Confirm password")
<input type="submit">
}
}