@(profileForm:Form[Profile],hobbyList:List[String],isAdmin:Boolean)(implicit messages:Messages , flash:Flash)

@import helper._

@main("User profile"){

<div>@if(isAdmin){
    @adminNavBar()
    }else{
    @userNavBar()
    }
</div>
<br/>
<br/>
<div>@flash.get("update").fold("")(x=>x)
    @flash.get("updatesuccess").fold("")(x=>x)
</div>
@helper.form(action = routes.UserProfileController.updateDetails()){
@helper.inputText(profileForm("name"),'_showConstraints->false, '_label->"First name")
@helper.inputText(profileForm("middleName"),'_showConstraints->false, '_label->"Middle name")
@helper.inputText(profileForm("lastName"),'_showConstraints->false, '_label->"Last name")
@helper.inputText(profileForm("mobileNo"),'_showConstraints->false, '_label->"Mobile no")
@helper.select(profileForm("gender"),options(List("male","female")),'_showConstraints->false, '_label->"Gender")
@helper.inputText(profileForm("age"), '_showConstraints->false, '_label->"Age")
@helper.inputCheckboxGroup(
profileForm("hobbies"),
options = hobbyList.map(hobbyName => hobbyName->hobbyName),
'_label -> "Hobbies",
'_error -> profileForm("hobbies").error.map(_.withMessage("Select one or more hobbies")))
<button type="submit">Submit</button>
}

}