@(listAssignments:List[AssignmentData], isAdmin:Boolean)


@import helper._
@main("Assignments"){
<div>@if(isAdmin){
    @adminNavBar()
    }else{
    @userNavBar()
    }
</div>
<br/>
<br/>

<div class="container">
    <h2>Assignments</h2><br/>
    @if(listAssignments.isEmpty){
    <h3>There are no assignments.</h3>
    } else{
    <table class="table table-striped">
        <thead>
        <tr>
            <th style="width:10%">Title</th>
            <th style="width:80%">Description</th>
            <th style="width:10%"> @if(isAdmin){Action}</th>
        </tr>
        </thead>

        <tbody>@for(assignment<-listAssignments){
        <tr> @helper.form(action=routes.AdminController.deleteAssignment(assignment.id)){
            <td>@assignment.title</td>
            <td>@assignment.description</td>
            <td>@if(isAdmin){
                <button value="@assignment.id">Delete</button>
                }
            </td>
            }
        </tr>
        }
        </tbody>
    </table>
    }
</div>

}
